form[visible] {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 24rem;
}

span[caption],
div[subtitle] {
  padding-top: 0.5rem;
}

h2[content] {
  margin-top: 3.5rem;
}

section[content] {
  margin-top: 1.5rem;
}

button[text] {
  padding-top: 0.25rem;
}

div[caption][row] {
  gap: 0.25rem;
}

ul[column] {
  gap: 1rem;
}

#secret {
  line-break: anywhere;
}

[breadcrumb] {
  gap: 1.5rem;
  display: flex;
  font-size: 0.85rem;
  padding-top: 2rem;
}

[breadcrumb] a {
  display: inline;
  color: var(--color-primary);
  cursor: default;
  position: relative;
  white-space: nowrap;
}

[breadcrumb] a:hover {
  text-decoration: underline;
}

[breadcrumb] a::after {
  content: '/';
  display: block;
  position: absolute;
  color: var(--color-subtext);
  top: 0;
  bottom: 0;
  right: -1rem;
}

[breadcrumb] a[active] {
  color: var(--color-subtext);
  overflow: hidden;
  text-overflow: ellipsis;
}

[breadcrumb] a[active]::after {
  content: none;
}
