/* Styles based on html element */

[color='primary'] {
  color: var(--color-primary);
}

[space='wide'],
[space='limited'] {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

[space='limited'] {
  max-width: 64rem;
}

a[type='link'] {
  color: var(--color-primary);
}

img[type='avatar'] {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

header {
  padding: 0.5rem 0;
}

input {
  padding: 5px 12px;
  border: 1px solid var(--color-soft);
  border-radius: 6px;
}

label {
  margin-bottom: 4px;
}

label,
div[type='row'] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

div[type='row'] > button {
  flex: 1;
}

div[type='column'] {
  display: flex;
  flex-direction: column;
}

div[align='left'] {
  text-align: left;
}

button[name='text'] {
  color: var(--color-primary);
  font-size: 0.85rem;
  cursor: default;
}

button[name='text']:hover {
  text-decoration: underline;
}

button[name='text']:disabled {
  color: var(--color-soft);
}

button[name='text']:disabled:hover {
  text-decoration: none;
}

button[name='filled'] {
  color: white;
  background-color: var(--color-primary);
  padding: 5px 12px;
  border-radius: 6px;
  border: 1px solid var(--color-primary);
}

button[color='gray'] {
  background-color: white;
  color: inherit;
  border: 1px solid var(--color-soft);
}

span[name='caption'] {
  font-size: 0.75rem;
  color: #999;
}

span[name='secondary'] {
  color: #999;
}

span[font='bold'] {
  font-weight: bold;
}

#version {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 0.8rem;
  color: var(--color-soft);
  padding: 5px 12px;
}

#beta {
  font-size: 0.8rem;
  color: var(--color-text);
  background-color: var(--color-background);
  border: 1px solid var(--color-soft);
  position: fixed;
  top: 1rem;
  right: -3rem;
  padding: 5px 4rem;
  transform: rotate(45deg);
  text-transform: uppercase;
  opacity: 0.6;
}
