@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Static custom properties */
:root {
  --font-family: 'Roboto', sans-serif;
  --font-size: 14px;
}

/* Dynamic custom properties */
html {
  --color-primary: #b052c8;
  --color-background: #fff;
  --color-soft: #ddd;
  --color-text: #333;

  font-size: var(--font-size);
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

label {
  margin-bottom: 4px;
}

input {
  padding: 5px 12px;
  border: 1px solid var(--color-soft);
  border-radius: 6px;
}

input:focus {
  outline: none;
  box-shadow: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  background: none;
}
