/**
 * Styles based on html attribute
 * 
 * [color=""]      primary none (html element required)
 * [area=""]       wide content
 * [direction]     row column
 * [alignment]     left right
 * [typography]    subtitle caption link
 * [size]          small regular large (html element required)
 * [font]          normal bold
 * Buttons         text block[color]
 * Image           avatar[size]
 * Inputs          text
 * 
 */

[row] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

[column] {
  display: flex;
  flex-direction: column;
}

[left] {
  text-align: left;
  justify-content: flex-start;
}

[right] {
  text-align: right;
  justify-content: flex-start;
}

[wide],
[content] {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

[content] {
  max-width: 64rem;
}

[subtitle] {
  color: var(--color-subtext);
}

[caption] {
  font-size: 0.75rem;
  color: var(--color-subtext);
}

[link] {
  color: var(--color-primary);
}

[normal] {
  font-weight: normal;
}

[bold] {
  font-weight: bold;
}

button[text] {
  color: var(--color-primary);
  font-size: 0.85rem;
  cursor: default;
}

button[text]:hover {
  text-decoration: underline;
}

button[text]:disabled {
  color: var(--color-soft);
}

button[text]:disabled:hover {
  text-decoration: none;
}

button[block] {
  color: var(--color-background);
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  padding: 5px 12px;
  border-radius: 6px;
  flex: 1;
}

button[block][color='none'] {
  color: inherit;
  background-color: var(--color-background);
  border: var(--border-soft);
}

img[avatar],
img[avatar][small] {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

img[avatar][large] {
  width: 4rem;
  height: 4rem;
}

input[text] {
  padding: 5px 12px;
  border: var(--border-soft);
  border-radius: 6px;
}

label[for] {
  margin-bottom: 4px;
}

header {
  padding: 0.5rem 0;
}

#version {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 0.8rem;
  color: var(--color-soft);
  padding: 5px 12px;
}

#beta {
  font-size: 0.8rem;
  color: var(--color-text);
  background-color: var(--color-background);
  border: var(--border-soft);
  position: fixed;
  top: 1rem;
  right: -3rem;
  padding: 5px 4rem;
  transform: rotate(45deg);
  text-transform: uppercase;
  opacity: 0.6;
}
