[breadcrumb] {
  gap: 2rem;
  display: flex;
  font-size: 0.85rem;
  margin: 2rem 0;
}

[breadcrumb] a {
  display: inline;
  color: var(--color-primary);
  cursor: default;
  position: relative;
  white-space: nowrap;
}

[breadcrumb] a:hover {
  text-decoration: underline;
}

[breadcrumb] a::after {
  content: '▶';
  display: block;
  position: absolute;
  color: var(--color-soft);
  top: 0;
  bottom: 0;
  right: -1.4rem;
}

[breadcrumb] a[active] {
  color: var(--color-subtext);
  overflow: hidden;
  text-overflow: ellipsis;
}

[breadcrumb] a[active]::after {
  content: none;
}
