main {
  margin: 0 auto;
  padding: 2rem 1rem;
  max-width: 24rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-soft);
  border-radius: 0.5rem;
}

p {
  padding: 1rem;
}

div[type='column'] {
  display: flex;
  flex-direction: column;
}

div[align='left'] {
  text-align: left;
}

label,
div[type='row'] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

div[type='row'] > button {
  flex: 1;
}

button[name='text'] {
  color: var(--color-primary);
  font-size: 0.85rem;
  cursor: default;
}

button[name='text']:hover {
  text-decoration: underline;
}

button[name='filled'] {
  color: white;
  background-color: var(--color-primary);
  padding: 5px 12px;
  border-radius: 6px;
  border: 1px solid var(--color-primary);
}

button[color='gray'] {
  background-color: white;
  color: inherit;
  border: 1px solid var(--color-soft);
}

footer {
  display: flex;
  justify-content: space-around;
  font-size: 0.85rem;
  margin: 4rem auto;
  padding: 0 4rem;
}

footer a {
  color: var(--color-primary);
  cursor: pointer;
}

span[name='caption'] {
  font-size: 0.75rem;
  color: #999;
}

span[name='secondary'] {
  color: #999;
}

span[font='bold'] {
  font-weight: bold;
}
