@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Static custom properties */
:root {
  --font-family: 'Roboto', sans-serif;
  --font-size: 14px;
}

/* Dynamic custom properties */
html {
  --color-primary: #b052c8;
  --color-background: #ffffff;
  --color-soft: #f0f0f0;
  --color-text: #4d4d4d;
  --color-subtext: #acacac;
  --border-soft: 1px solid var(--color-soft);

  font-size: var(--font-size);
}

/* Global styles */
body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inherit;
  text-decoration: none;
}

img {
  padding: 0;
  margin: 0;
  border: none;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: normal;
}

h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: normal;
}

h2::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-soft);
  margin-top: 0.5rem;
}

h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

input::placeholder {
  color: var(--color-subtext);
}

input:focus {
  outline: none;
  box-shadow: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  background: none;
}
