@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Static custom properties */
:root {
  --font-family: 'Roboto', sans-serif;
  --font-size: 14px;
}

/* Dynamic custom properties */
html {
  --color-primary: #b052c8;
  --color-background: #fafafa;
  --color-surface: #ffffff;
  --color-soft: #f0f0f0;
  --color-text: #525252;
  --color-subtext: #acacac;
  --border-soft: 1px solid var(--color-soft);
  --border-background: 1px solid var(--color-background);

  font-size: var(--font-size);
}

/* Global styles */
body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inherit;
  text-decoration: none;
  cursor: default;
}

a:hover {
  text-decoration: underline;
}

img {
  padding: 0;
  margin: 0;
  border: none;
}

h1 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

input::placeholder {
  color: var(--color-subtext);
}

input:focus {
  outline: none;
  box-shadow: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  background: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

code {
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--color-soft);
}

pre:has(code) {
  margin: 0;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-surface);
}

pre:has(code) code {
  margin: unset;
  padding: unset;
  background-color: unset;
}

mark {
  margin-right: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: var(--color-background);
  background-color: var(--color-primary);
}

footer {
  background-color: var(--color-surface);
}
