@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0');

[banner] {
  padding: 8rem 0;
}

.material-symbols-outlined {
  font-size: 3rem;
  color: var(--color-subtext);
  user-select: none;
}
