extends layout.pug

block styles
  link(rel='stylesheet' href='/static/form.css')

block body
  main
    header
      h1 Spot
    p 
      span 
        span
          a(href='#') #{application.name} 
        span de #{application.owner.name}
      br
      span quiere acceder a tu cuenta de Spot
    form(method='post' action=`${action}`)
      div(type='column' align='left')
        span Datos de tu cuenta
        span(name='secondary') Correo, nombre y foto (solo lectura)
      div(type='column' align='left')
        span Almacenamiento
        span(name='secondary') Acceso a tu almacenamiento de Spot
      span
      div(type='row')
        button(type='button' name='filled' color='gray' onclick=`location.href='/'`) Cancelar
        button(type='submit' name='filled') Autorizar
      div(type='column')
        span(name='caption') Después de autorizar se redireccionará a
        span(name='caption' font='bold') #{redirectDomain}
    p
      span(name='caption') La aplicación no es propiedad ni está operada por Spot
    footer
      a(href='/' target='_blank') Cuenta
      a(href='/' target='_blank') OAuth
      a(href='/' target='_blank') Contacto
