extends layout.pug

block styles
  link(rel='stylesheet' href='/static/form.css')

block body
  main
    header
      h1 Spot
    p
      span
        span
          a(href='#' link) #{application.name}&nbsp;
        span de #{application.owner.name}
      br
      span quiere acceder a tu cuenta de Spot
    form(method='post' action=action)
      div(column left)
        span Datos de tu cuenta
        span(subtitle) Correo, nombre y foto (solo lectura)
      div(column left)
        span Almacenamiento
        span(subtitle) Acceso a tu almacenamiento de Spot
      span
      div(row)
        button(type='button' block color='none' onclick='history.back()') Cancelar
        button(type='submit' block) Autorizar
      div(column)
        span(caption) Después de autorizar se redireccionará a
        span(caption bold) #{redirectDomain}
    p
      span(caption) La aplicación no es propiedad ni está operada por Spot
    footer
      a(href='/' target='_blank') Cuenta
      a(href='/' target='_blank') OAuth
      a(href='/' target='_blank') Contacto
