extends layout.pug

block styles
  link(rel='stylesheet' href='/static/form.css')

block body
  main
    header
      h1 Spot
    p
    form
      div(column left)
        span(caption bold) Detalle del error
        span #{message}
      span
      div(column)
        button(
          type='button'
          block
          color='none'
          onclick='history.back()'
        ) Regresar
