extends layout.pug

block styles
  link(rel='stylesheet' href='/static/form.css')

block body
  main(content narrow center)
    br
    br
    header
      h1 Spot
    p
    form(column gap)
      div(column left)
        span(caption bold) Error
        span #{message}
      span
      div(column)
        button(
          type='button'
          block
          color='none'
          onclick='history.back()'
        ) Regresar
    br
    br
